@{
    ViewBag.Title = "Hvordan streamer jeg Video On Demand film?";
}

<section class="block">
    <h2>Hvad?</h2>
    <p>
         Editorialt indhold her, som hjælper folk der ikke har prøvet det før
    </p>
</section>
<section class="block">
    <h2>Udbydere</h2>
    <p>
         Der er mange forskellige udebydere på streaming-markedet, og de stiller forskellige krav til din computer og internetopkobling. 
         Udover iTunes kan alle video-on-demand udbydere du finder på filmster.dk, vise film direkte i browseren, ved hjælp af gængse plug-ins.
    </p>
</section>
