@{
    ViewBag.Title = "Hvad er filmster?";
}

<section class="block">
    <h2>Hvad er filmster.dk</h2>
    <p>
         filmster.dk er et uafhængigt privat intiativ, som forsøger at gøre det nemt at få overblik over de danske on-demand tjenester.<br />
         Du kan her på siden søge efter film på tværs alle udbyderne af streaming-tjenester på det danske marked, og nemt sammenligne priser, hvis flere udbydere tilbyder den samme film.
    </p>
    <p>
        Filmster.dk er udviklet og vedligeholdt af <a href="http://magnuskragelund.dk/about-the-writer">Magnus Kragelund</a>. Hvis du har lyst til at bidrage til udviklingen af sitet, kan du se mere på <a href="http://github.com/magnuskragelund/filmster">http://github.com/magnuskragelund/filmster</a>.
    </p>
</section>
<section class="block">
    <h2>Udlejere</h2>
    <p>
         Der er mange forskellige udlejere på streaming-markedet, og de stiller forskellige krav til din computer og internetopkobling. 
         Bortset fra iTunes, kan alle video-on-demand udbydere du finder på filmster.dk, vise film direkte i browseren, ved hjælp af gængse plug-ins.
    </p>
    <h3>Viaplay</h3>
    <p>
        Læs mere på <a href="http://viaplay.dk" rel="external">viaplay.dk</a>
    </p>
    <h3>SF-anytime</h3>
    <p>
        Læs mere på <a href="http://sf-anytime.dk">www.sf-anytime.dk</a>
    </p>
    <h3>Apple iTunes</h3>
    <p>
        Læs mere på <a href="http://www.apple.com/dk/itunes/">www.apple.com/dk/itunes</a>
    </p>
    <h3>Headweb</h3>
    <p>
        Læs mere på <a href="http://headweb.com/da">www.headweb.com</a>
    </p>
    <h3>Voddler</h3>
    <p>
        Læs mere på <a href="http://voddler.com">www.voddler.com</a>
    </p>
    <h3>Sputnik</h3>
    <p>
        Læs mere på <a href="http://sputnik.tv2.dk">www.sputnik.tv2.dk</a>
    </p>
    <h3>YouSee Web-TV</h3>
    <p>
        Læs mere på <a href="http://yousee.tv/film/">www.yousee.tv/film</a>
    </p>
    <h3>CDON</h3>
    <p>
        Læs mere på <a href="http://downloads.cdon.com/index.phtml?action=nav_page&navigation_id=16132">www.cdon.com</a>
    </p>
</section>
