@using Filmster.Data
@using Filmster.Web.Utils
@model List<Movie>

@{
    var emptyQuery = string.IsNullOrWhiteSpace(ViewBag.Query);
    
    ViewBag.Title = emptyQuery 
        ? "Søg blandt mere end 6.000 titler" 
        : "Søgning på \"" + @ViewBag.query + "\"";
}

<section class="block">
    <p>
    @Html.Partial("_SearchForm", ViewBag.Query as string)
    </p>
</section>
@if (!emptyQuery)
{
    <section class="block">
        <h2>Film som passer på søgningen "@ViewBag.Query"</h2>
        <div class="movie-preview search-results"> 
            @foreach (var movie in Model)
            {
                Html.RenderPartial("_MoviePreview", movie);
            }
        </div>
    </section>
}