<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="FilmsterMovies" connectionString="Server=MK;Trusted_Connection=Yes;Initial Catalog=Filmster" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="LuceneIndex" value="D:\LucenePlayIndex"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
