<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="FilmsterEntities" connectionString="metadata=res://*/Filmster.csdl|res://*/Filmster.ssdl|res://*/Filmster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Filmster;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
        <add key="LuceneIndex" value="D:\LucenePlayIndex"/>
        <add key="LogFile" value="D:\Temp\FilmsterLog.txt"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
