body {
     background-color: #ececec;
     background-image: url(/Content/images/tile.gif);
     margin: 0px; 
     font-family: 'Cabin', sans-serif; 
     font-size: 1em; 
     color: #4A4A4A; 
     line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6  
{
    font-family: 'Cuprum', sans-serif; 
    color: #000;
}

input {
    font-size: 1.6em;
}

a {
    color: #F9512B;
}

a:hover {
    color: #f9b72d;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
}

.wrapper {
	width: 900px; 
	margin: auto; 
}
			
.topbar { 
	position: relative; 
	height: 80px; 
	border-bottom: 1px solid #999; 
	background-color: #fff;
}

header nav ul {
    padding-top: 20px;
    float: right;
}

header nav li {
    display: inline;
    margin: 0 20px 0 0;
}

header nav li:last-child
{
    margin-right: 0px;
}

header nav a {
    font-weight: bold;
    background: #F9512B;
    padding: 4px 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    background: #f9b72d;
    color: #fff;
}

header .me {
    font-family: 'Cuprum', sans-serif;
    font-size: 2.4em;
    float:left;
    padding-top: 33px;
    padding-left: 25px;
}

header .me a {
    text-decoration: none;
    color: #000;
}
			
.block  
{
    margin-top: 30px;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #999;
    overflow: auto;
    border-radius: 0.5em;
    box-shadow: 1px 1px 1px #ccc;
}


.movie-preview .cover {
	float: left;
}

.movie-preview .movie {
    clear: both;
    overflow: auto;
}

.movie-preview .movie h3

{
    margin-top: 0px;
    margin-bottom: 5px;
}

.movie-preview .movie .legend {
    font-size: 0.8em;
    font-weight: bold;
}

.movie-preview .movie .plot {
    min-height: 170px;
}

.movie-preview .cover {
    float: left;
    padding: 0 20px 20px 0;
    width: 150px;
}

.search-results .movie {
    padding-bottom: 30px;
}

.details .cover {
    float: right;
    margin-left: 30px;
    width: 170px;
    border: 3px solid #C4C4C4
}

.search input[type='text'] {
    width: 750px;
}

.ac_results {
    background: #fff;
}
.ac_results .ac_over {
    background: #efefef;
}

.ac_results ul {
    list-style: none;
    margin-left: 0;
	padding-left: 0em;
}
.ac_results ul li {
    padding-left: 1em;
    padding: .6em 0 .6em 1em;
    font-size: 1.2em;
}


.catalog ol.alphabet {
    list-style: none;
    display: inline;
    text-transform: uppercase;
}

.catalog ol.alphabet li {
    display: inline;
    margin: 0 10px 0 0;
}

.social {
    text-align: right;
    margin-bottom: -20px;
}

.social .fb-like {
    position: relative;
    margin-left: -16px;
    top: -4px;
}