@{
    ViewBag.Title = "Hvad er Video On Demand? Få en introduktion til at leje film online";
}

<section class="block">
    <h1>Hvad er Video on Demand?</h1>
    <p>
        Video on Demand (eller VOD) er din mulighed for at se film, lige når det passer dig! I stedet for at gå ned i den lokale
        videoudlejningsbutik, og leje en film, som du skal aflevere dagen efter, kan du med Video on Demand købe tidsbegrænset 
        adgang til en film, som du kan se med det samme over internettet.
    </p>
    <p>
        Du kan se din film på computeren, men du kan også se den på dit TV, hvis du tilsluter computeren til dit TV, fx med et HDMI kabel.
        Nogle Video on Demand udlejere tilbyder endda, at du kan se filmen på en iPad, så du kan tage din film med i seng eller på togturen.
    </p>
</section>

