body { background-color: #ececec; margin: 0px; font-family: 'Cabin', sans-serif; font-size: 1em; color: #909090; line-height: 1.5em; }
h1 { font-family: 'Cabin', sans-serif; color: #000;   }
.wrapper {
	width: 950px; 
	margin: auto; 
}
			
.topbar { 
	position: relative; 
	height: 80px; 
	border-bottom: 1px solid #999; 
	margin-bottom: 80px; 
	background-color: #fff;
}

header nav ul {
    float: right;
}
			
header nav li {
    display: inline;
    margin: 0 20px 0 0;
}
			
.block { 
	padding: 30px;
	background-color: #fff;
	border: 1px solid #999; 
}

.cover {
	float: left;
}

.search-results .result {
    clear: both;
    padding-bottom: 20px;
}

.search-results .cover {
    float: left;
    padding: 0 20px 20px 0;
}

.details .cover {
    float: left;
    padding: 0 20px 20px 0;
    width: 150px;
}

/* Autocomplete 
-----------------------------------------------------------*/
.ac_results {
    background: #fff;
}
.ac_results .ac_over {
    background: #efefef;
}

.ac_results ul {
    list-style: none;
    margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}


/* Catalog
-----------------------------------------------------------*/
.catalog ol.alphabet {
    list-style: none;
    display: inline;
}

.catalog ol.alphabet li {
    display: inline;
    margin: 0 10px 0 0;
}