body {
     background-color: #ececec;
     background-image: url(/Content/images/tile.gif);
     margin: 0px; 
     font-family: 'Cabin', sans-serif; 
     font-size: 1em; 
     color: #4A4A4A; 
     line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6  
{
    font-family: 'Cuprum', sans-serif; 
    color: #000;
}

input {
    font-size: 1.6em;
}

a {
    color: #F9512B;
}

a:hover {
    color: #f9b72d;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.wrapper {
	width: 900px; 
	margin: auto; 
}
			
.topbar { 
	position: relative; 
	height: 80px; 
	border-bottom: 1px solid #999; 
	background-color: #fff;
}

header nav ul {
    padding-top: 20px;
    float: right;
}

header nav a {
    font-weight: bold;
    background: #F9512B;
    padding: 4px 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    background: #f9b72d;
    color: #fff;
}

header .me {
    font-family: 'Cuprum', sans-serif;
    font-size: 2.4em;
    float:left;
    padding-top: 33px;
    padding-left: 27px;
}

header .me a {
    text-decoration: none;
    color: #000;
}

header nav li {
    display: inline;
    margin: 0 20px 0 0;
}
			
.block  
{
    margin-top: 30px;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #999;
    overflow: auto;
    /*border-radius: 0.5em;
    box-shadow: 1px 1px 1px #000;*/
}

.cover {
	float: left;
}

.search-results .result {
    clear: both;
    padding-bottom: 20px;
}

.search-results .cover {
    float: left;
    padding: 0 20px 20px 0;
}

.details .cover {
    float: right;
    padding-left: 50px;
    width: 150px;
}

.search input[type='text'] {
    width: 450px;
}

/* Autocomplete 
-----------------------------------------------------------*/
.ac_results {
    background: #fff;
}
.ac_results .ac_over {
    background: #efefef;
}

.ac_results ul {
    list-style: none;
    margin-left: 0;
	padding-left: 0em;
}


/* Catalog
-----------------------------------------------------------*/
.catalog ol.alphabet {
    list-style: none;
    display: inline;
}

.catalog ol.alphabet li {
    display: inline;
    margin: 0 10px 0 0;
}