<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->  
    <connectionStrings>
      <add name="FilmsterMovies" 
        connectionString="Server=cab72a98-f50f-47b4-8c0d-9f8d00edf14e.sqlserver.sequelizer.com;Database=dbcab72a98f50f47b48c0d9f8d00edf14e;User ID=ofqzhmllmgtnqbre;Password=twFBfoh6vZz5EQ2ArCmmj4Aipko6BmSezBF2ywzteQGzcF6Uwtpk2Cby5wn4akCi;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->      
      <customErrors mode="On" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    
  </system.web>
</configuration>