<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="FilmsterEntities"
           connectionString="metadata=res://*/Filmster.csdl|res://*/Filmster.ssdl|res://*/Filmster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Filmster;Integrated Security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <appSettings>
        <add key="LuceneIndexPath" value="C:\Temp\Filmster\LuceneIndex" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="CoverCacheDirectory" value="C:\Temp\Filmster\CoverCache" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Environment" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
        <compilation debug="false" xdt:Transform="SetAttributes" />
    </system.web>
</configuration>