@model string

@using(Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <label for="q">Find en film</label>
    <input type="text" id="queryTextbox" value="@Model" name="q" autocomplete="off"/>
    <input type="submit" value="Søg!"/>
}
