@{
    ViewBag.Title = "Hvordan streamer jeg Video On Demand film?";
}

<section class="block">
    <h2>Hvad?</h2>
    <p>
         Editorialt indhold her, som hjælper folk der ikke har prøvet det før
    </p>
</section>
<section class="block">
    <h2>Udbydere</h2>
    <p>
         Links til udbydere og forklaring på hvem de er, og de teknologier de bruger
    </p>
</section>
