@{
    ViewBag.Title = "Home Page";
}

<section class="block">
    <h2>@ViewBag.Message</h2>
    <p>
        Filmster samler alle Video on Demand tjenerster til rådighed og Danmark, og giver dig det bedste overblik over priser, tilgængelighed og sSoftware.
    </p>
    @Html.Partial("_SearchForm")
</section>
<script>
    $(function () {
        $("#queryTextbox").autocomplete("/Home/autocomplete", {
            parse: function (items) {
                var parsed = [];
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    if (item) {
                        parsed[parsed.length] = {
                            data: item,
                            value: item.Title,
                            result: item.Title
                        };
                    }
                }
                return parsed;
            },
            formatItem: function (item) {
                return item.Title;
            },
            selectFirst: false
        }).result(function (event, item) {
            location.href = item.Url;
        });
    });
</script>